.box 
{
    padding: 10px 10px;
    margin-top: 10px;
    height: auto;
}
.box h5
{
    font-size: 14px;
    margin-top: 10px;
}
a
{  
    display: flex;
    text-decoration: none;
    width: 100px;
}
